<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>878377756815-tgc0jarklds636go1e0iqsa2e70hcmbh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.878377756815-tgc0jarklds636go1e0iqsa2e70hcmbh</string>
	<key>API_KEY</key>
	<string>AIzaSyDLIONW9ZWMzBe8QUkkd5mMekOjg2ndQkE</string>
	<key>GCM_SENDER_ID</key>
	<string>878377756815</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.safakyaral.StajApp</string>
	<key>PROJECT_ID</key>
	<string>stajapp-1ea1d</string>
	<key>STORAGE_BUCKET</key>
	<string>stajapp-1ea1d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:878377756815:ios:61356bd6e467fec56128fa</string>
</dict>
</plist>
